*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-image: url(../img/fondo.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    text-align: center;
    color: #fff;
    font-size: 48px;
    margin: 20px 50px; 
}

.box{
    border: 1px solid;
    width: 500px;
    height: 400px;

}
.container{
    display: flex;
    margin: 0px 80px;
    justify-content: center;
}
.cotizar{
    text-align: center;
}

img{
    width: 250px ;
    height: 250px;
    border: 1px solid;
    text-align: center;
    margin: 20px 50px;
}

